doctype html
html(lang="en")
  head
    title Jade
    link(href='css/style.css' rel='stylesheet')
  body
    h1 Sweetness!
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='js/main.js')
